body {
  display: flex;
  flex-direction: column;
  font-family: Papyrus, fantasy;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background-color: antiquewhite;
}

nav {
  background: linear-gradient(to bottom, rgb(73, 26, 26), rgb(73, 26, 26) 90%, rgba(73, 26, 26, 0));
  padding-top: 15px;
  padding-bottom: 7px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: antiquewhite !important;
    font-size: 1.5em;
    transition: 0.2s ease-in-out !important;
}

nav a:hover {
  color: antiquewhite !important;
  text-shadow: 0px 0px 5px antiquewhite !important;
  text-decoration: none;
  font-size: 1.5125em;
  transition: 0.2s ease-in-out !important;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: rgb(12, 97, 26);
  padding-top: 1rem;
}

a:link {
  color: rgb(73, 26, 26);
  transition: color 0.3s ease;
  text-decoration: none;
}

a:visited {
  color: rgb(138, 209, 150);
  text-decoration: none;
}

a:hover {
  color: rgb(138, 209, 150);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active {
  color: green;
  text-decoration: none;
}

.width-image {
  width: 100%;
  height: auto;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

img {
  margin: auto;
  width: 75%;
}

button {
  background-color: rgb(12, 97, 26);
  color: antiquewhite;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 2.5rem;
  padding-top: .44em;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: antiquewhite;
  color: rgb(12, 97, 26);
}

.form-group {
  max-width: 333px;
  margin: 0 auto;
  padding: .75rem;
  font-size: 1.3rem;
}

.btn {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: rgb(12, 97, 26);
  color: antiquewhite;
}

.btn:hover {
  background-color: antiquewhite;
  color: rgb(12, 97, 26);
}

.btn:active {
  transform: translateY(1px);
  background-color: rgb(12, 97, 26) !important;
  color: antiquewhite !important;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
  position: relative;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 11px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  line-height: 30px;
  background: linear-gradient(to top, rgb(73, 26, 26), rgb(73, 26, 26) 90%, rgba(73, 26, 26, 0));
  color: antiquewhite !important;
  font-size: 1em;
}

.footer a {
  color: antiquewhite !important;
  text-decoration: none;
  padding-bottom: 2px;
  transition: 0.2s ease-in-out;
  margin-bottom: 0;
}

.footer a:hover {
  color: antiquewhite !important;
  text-shadow: 0px 0px 5px antiquewhite !important;
  text-decoration: none;
  font-size: 1.025em;
  transition: 0.2s ease-in-out;
}

p {
  font-family: Arial, sans-serif;
  color: rgb(73, 26, 26);
}

.mb-4 {
  color: rgb(73, 26, 26);
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
}

.py-5 {
  background: linear-gradient(to top, rgb(73, 26, 26), rgb(73, 26, 26) 99%, rgba(73, 26, 26, 0)) !important;
}

.comments-section {
  height: 88vh;
  margin-top: 1rem;
}

.comments-heading {
  margin-top: 0;
  color: antiquewhite;
}

.img-fluid {
  margin: auto;
  margin-top: 1rem;
  width: 80%;
}

@media (min-width: 768px) {
  .col-md-4, .col-md-8 {
    width: 50%;
  }
}

.foot {
  height: 10vh;
}

.comment-foot {
  height: 10vh;
  background-color: rgb(73, 26, 26);
}